{
    "tabWidth": 4,
    "semi": false,
    "printWidth": 110,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 120,
                "bracketSpacing": true
            }
        }
    ]
}
